<% layout('layouts/boilerplate')%> 

<p>Edit Post</p>

<form action='/edit/post/<%=post._id%>' method='POST'>

    <label for='desc'>Post Description :  </label> <br><br>
    <textarea name="description" id="desc" cols="30" rows="10" required><%=post.description%></textarea>

    <br><br>

    <% if(!post.postlocation){ %>

        <label for='postlocation'>Add Location : </label>
        <input type='text' id='postlocation' name='postlocation'>


    <% } else { %> 

        <label for='postlocation'>Change Location : </label>
        <input type='text' id='postlocation' name='postlocation'  value='<%=post.postlocation%>'>

    <% } %> 




    <button type='submit'>Post</button>

</form>