<% layout('layouts/boilerplate')%>
    
<h4>All Following</h4>


<% if(currentUser.following.length!=0){ %>
    
    <% for(following of currentUser.following){ %>
        
        <a href='/otherprofile/<%=following._id%>/show'><%=following.username%></a> -  <a href='/unfollow/<%=following._id%>'>Click here to unfollow</a>

    <% } %> 

<% } %> 


<br><br>


<a href='/me/profile'>Back to profile</a>