<% layout('layouts/boilerplate')%> 

<h4>Followers</h4>

<ul>

<% if(followers.length!=0){ %>
    
    <% for(follower of followers){ %>
        
        <li><%=follower.username%> - <a href='/removefollower/<%=follower._id%>'>Remove from follower</a> </li>

    <% } %> 

<% } %> 

</ul>
