<% layout('layouts/boilerplate')%>


<style>

    .form{
        max-width: 700px;
        margin:0 auto;
    }
    input{
        width:100%;
        height:40px;
        padding:10px;
    
    }
    label{
        font-weight: bold;
    }
    .centeralign{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .centeralign>*{
        margin:10px;
    }





</style>

<h3 style='text-align: center;margin:20px'>Edit Profile</h3> 



    
<form class='form' action="/profile/edit" method="POST" enctype='multipart/form-data'>


    <label for='realname'>Name : </label><br>
    <input type='text' id='realname' name='realname' value='<%=currentUser.realname%>' required>

    <br><br>

    <label for='bio'>Bio : </label><br>
    <textarea id='bio' style="width: 100%;padding:10px; max-width: 100%;" name='bio' placeholder='Tell Something about to the people...'><%=currentUser.bio%></textarea>

    <br><br>

    <% if(currentUser.haveProfile==true){ %>
        
        <label for='editPhoto'>Change Profile photo : </label> &nbsp&nbsp

        <select name='photo' id='editPhoto' onchange="return changeInput()">

            <option value='edit'>Change existing profile photo</option>
            <option value='remove'>Remove existing profile photo</option>

        </select>


        <input type='file' id='file' name='image' onchange="return fileValidation()">

    <% } else { %>


        
        <label for='file'>Add Profile photo : </label> <input type='file' id='file' name='image' onchange="return fileValidation()">
        
    <% } %> 

    <br><br><br>

    
    <div class='centeralign'>

    <button class='btn btn-primary' type='submit'>Update</button>

    <a class='btn btn-primary' role='button' href='/me/profile'>Back</a>

    </div>

</form>

<br><br>



<script>

function changeInput(){

    let select = document.getElementById('editPhoto');
    let selectValue = select.value;
    if(selectValue=='edit'){
        document.getElementById('file').style.display='block';
    }
    if(selectValue=='remove'){
        document.getElementById('file').style.display='none';
    }
    return true;

}

function fileValidation() {
        let fileInput = document.getElementById('file');
        let filePath = fileInput.value;
        if(filePath!=''){
            let allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type! Only files with .jpg, .jpeg or .png are allowed');
            fileInput.value = '';
            return false;
        } 
    }
                  
}


</script>