<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/profile/edit" method="POST" enctype='multipart/form-data'>

    <h3>Edit Profile</h3> 

    <br><br>

    <label for='realname'>Name : </label><br>
    <input type='text' id='realname' name='realname' value='<%=currentUser.realname%>' required>

    <br><br>

    <label for='bio'>Bio : </label><br>
    <textarea id='bio' name='bio'><%=currentUser.bio%></textarea>

    <br><br>

    <% if(currentUser.haveProfile==true){ %>
        
        <label for='editPhoto'>Change Profile photo</label>

        <select name='photo' id='editPhoto' onchange="return changeInput()">

            <option value='edit'>Change existing profile photo</option>
            <option value='remove'>Remove existing profile photo</option>

        </select>

        <br><br>

        <input type='file' id='file' name='image' onchange="return fileValidation()">

    <% } else { %>
        
        <label for='file'>Add Profile photo</label>

        <br><br>

        <input type='file' id='file' name='image' onchange="return fileValidation()">
        
    <% } %> 

    <br><br>

    <button type='submit'>Update</button>

</form>

<br><br>

<a href='/me/profile'>Back</a>

<script>

function changeInput(){

    let select = document.getElementById('editPhoto');
    let selectValue = select.value;
    if(selectValue=='edit'){
        document.getElementById('file').style.display='block';
    }
    if(selectValue=='remove'){
        document.getElementById('file').style.display='none';
    }
    return true;

}

function fileValidation() {
        let fileInput = document.getElementById('file');
        let filePath = fileInput.value;
        if(filePath!=''){
            let allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type! Only files with .jpg, .jpeg or .png are allowed');
            fileInput.value = '';
            return false;
        } 
    }
                  
}





</script>






</body>
</html>