<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- emoji one area -->
    <link rel='stylesheet' href='/CSS/emojionearea.min.css'>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src='/JS/emojionearea.min.js'></script>
    <!-- emoji one area -->    

    <!-- For Bootstrap -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">

    <!-- For Bootstrap -->
    
    <title>InstaChat</title>

</head>
<body>
    
<style>
body{
    margin:0;
    padding:0;
}
.navbar{
    border : 1px solid rgb(161, 158, 158);
    height : 60px;
    background-color: whitesmoke;
}
.navcontainer{
    width:100%;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo{
    font-size: 30px;
    float:left;
    /* font-weight:bold; */
}


input{
    width:215px;
}

#searchBar{
    margin:5px;
}


.icons{

    font-size: 25px;
}
.profileimg{
    border-radius: 50%;
    width:30px; 
    height:30px
}

.icons>*{
    margin:0 10px;
}

.icons>a{
    color:rgb(31, 30, 30);
}

.icons > a:focus{
    color:blueviolet;
}


#searchIcon{
    display:none;
}

@media(max-width:600px){

#searchIcon{
    display:inline;
}  

#searchBar{
    display:none;
}

}

@media(max-width:430px){

.icons{

font-size: 20px;
}

.icons>*{
    margin:0 7px;
}

#logo{
    font-size: 20px;
}

}


</style>

<%- include('../partials/flash') %>

<div class='navbar'>

    <div class='navcontainer'>

        <div id='logo'>

            <p style='font-family: Playball, cursive;'>Instachat</p>

        </div>

        <div id='searchBar'>

            <input placeholder="search">

        </div>

        <div class='icons'>

            <a href='/home'><i id='messageicon1' class="fas fa-home"></i></a>
            <a  href='/messages/show'><i id='messageicon' class="fab fa-facebook-messenger"></i></a>
            <i id='searchIcon' class="fas fa-search"></i>
            <a href='/me/notifications'><i id='notigfyicon' class="fas fa-heart"></i></a>
            <a href='/me/profile'><img class='profileimg'  src="data:image/<%=currentUser.image.contentType%>;base64, 
            <%=currentUser.image.data.toString('base64') %>" alt="Image"></a>


        </div>
        


    </div>


</div>



  <%- body -%>




</body>
</html>