<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- emoji one area -->
    <link rel='stylesheet' href='/CSS/emojionearea.min.css'>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src='/JS/emojionearea.min.js'></script>
    <!-- emoji one area -->    

    <!-- For Bootstrap -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">

    <!-- For Bootstrap -->

    <title>Instachat</title>
</head>
<body>
    <form action='/register' method="POST">

        <label for='username'>Username : </label>
        <input id='username' type='text' name='username' placeholder="username" required>

        <br><br>

        <label for='realname'>Your Name : </label>
        <input id=realname type='text' name='realname' placeholder='Your name' required>

        <br><br>

        <label for='email'>Email : </label>
        <input id='email' type='email' name='email' placeholder='email' required>

        <br><br>

        <label for='password'>Password : </label>
        <input id='password' type='password' name='password' placeholder='password' required>

        <br><br>

    
        <br><br>

        <button type='submit'>Submit</button>


    </form>


    <script>

        function fileValidation() {
            let fileInput = document.getElementById('file');
            let filePath = fileInput.value;
            if(filePath!=''){
            let allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type! Only files with .jpg, .jpeg, .png or .gif are allowed');
                fileInput.value = '';
                return false;
            } 
          }
                  
        }

    </script>

    <br><br>

    <a href='/login'>Login</a>



</body>
</html>