<% layout('layouts/boilerplate')%> 
    <form action='/register' method="POST">

        <label for='username'>Username : </label>
        <input id='username' type='text' name='username' placeholder="username" required>

        <br><br>

        <label for='realname'>Your Name : </label>
        <input id=realname type='text' name='realname' placeholder='Your name' required>

        <br><br>

        <label for='email'>Email : </label>
        <input id='email' type='email' name='email' placeholder='email' required>

        <br><br>

        <label for='password'>Password : </label>
        <input id='password' type='password' name='password' placeholder='password' required>

        <br><br>

    
    <br><br>

        <button type='submit'>Submit</button>


    </form>


    <script>

        function fileValidation() {
            let fileInput = document.getElementById('file');
            let filePath = fileInput.value;
            if(filePath!=''){
            let allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type! Only files with .jpg, .jpeg, .png or .gif are allowed');
                fileInput.value = '';
                return false;
            } 
          }
                  
        }

    </script>

    <br><br>

    <a href='/login'>Login</a>

