<% layout('layouts/boilerplate')%> 
    
<h4>Add members to the group</h4>

    <% let k=0 %> 

    <form action='/group/addusers/<%=group._id%>' method='POST'>


        <% for(mutual of currentUser.mutual){ %>

            <% if(!((group.users).includes(mutual._id))){ %> 


            <% k++ %> 
            <input type='checkbox' name='users[]' value='<%=mutual._id%>'>
            <label><%=mutual.username%></label>
    
            <br>

            <% } %> 

        <% } %>
        
        <% if(k==0){ %> 

            <p>No friends left to add ! All your mutual friends are in this group !</p>

        <% } else { %>

            <br><br>
            
            <button type='submit'>Add</button>

        <% } %> 

    </form>

    <br><br>

    <a href='/group/show/<%=group._id%>'>Back to group</a>


