<% layout('layouts/boilerplate')%> 

<style>
#messageicon{
    color:rgb(0,123,255);
}




</style>
    
    <h4>All Chats</h4> ---- <a href='/home'>Back to home page</a>

    <br><br>

    <a href='/newchat/create'>Start new Chat</a>

    <br><br>

    <a href='/chat/allgroups'>All Groups</a>

    <br><br>



<ul>

    <% for(channel of currentUser.channels){ %>
        
        <% if(currentUser.username === channel.user1){ %>
            
            <li> <a href='/chat/channel/<%=channel._id%>'><%=channel.user2%></a> </li>
            
        <% } else { %>
            
            <li> <a href='/chat/channel/<%=channel._id%>'><%=channel.user1%></a> </li>
            
        <% } %> 

    <% } %> 

</ul>
