<% layout('layouts/boilerplate')%>
    
<h4>All Groups</h4> --- <a href='/group/create/new'>Create new Group</a>

<ul>

<% for(group of currentUser.groups){ %> 

    <li> <a href='/group/show/<%=group._id%>'><%=group.name%> </a></li>

<% } %> 


</ul>


