<% layout('layouts/boilerplate')%> 
    
    <p>Your Mutual friends</p>

<ul>

    <% for(mutual of currentUser.mutual){ %>

        <% if(!((currentUser.chattedWith).includes(mutual._id))){ %> 
        
        <li><%=mutual.username%> - <a href='/startchat/<%=mutual._id%>'>Start chat</a> </li>

        <% } %> 

    <% } %> 

</ul>
