<% layout('layouts/boilerplate')%> 
    
<h4>Create new Group</h4>


<a href='/chat/allgroups'>Back to all Groups</a>    

<br><br>

<form action='/group/create/new' method='POST'>

    <label for='name'>Group name</label>
    <input type='text' id='name' name='name'>

    <br><br>

    <ul>

    <% for(mutual of currentUser.mutual){ %>
        
        <input type='checkbox' name='users[]' value='<%=mutual._id%>'>
        <label><%=mutual.username%></label>

        <br>

    <% } %> 

    </ul>

    <button type='submit'>Create group</button>

</form>
